{{extend 'layout.html'}}

<head>
    <style>
    #additem {
      vertical-align: top;
    }
    </style>

<script>
function sendLine(product) {
    var selProduct = product.value;
    var priceField = document.getElementById('newLIPrice')
    
    var req = new XMLHttpRequest()
    
    var params = "product=" + selProduct;
    
    ajaxRequest.open("POST", "{{=post_url}}", true);

    //Send the proper header information along with the request
    ajaxRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    ajaxRequest.setRequestHeader("Content-length", params.length);
    ajaxRequest.setRequestHeader("Connection", "close");

    ajaxRequest.onreadystatechange = function() {//Call a function when the state changes.
	if(ajaxRequest.readyState == 4 && ajaxRequest.status == 200) {
	    alert("Price retrieved is: " + ajaxRequest.responseText);
	    priceField.value = ajaxRequest.responseText;
	}
    }
    ajaxRequest.send(params);
}

$(document).ready(function() {
  $("#addItemBtn").click(function() {
    var newitem = $("#newItem").val();  	
    var purchaseID = {{=purchaseId}};
    var price = $("#itemsBought_price");
    var quantity = $("#itemsBought_quantity");
    var product = $("#itemsBought_product");
    
    var vars = "msg=" + JSON.stringify(newitem);
    $.post('{{=post_url}}', vars, function(jdata) {
	var data = JSON.parse(jdata);
	newitem += "(" + data["result"] + ")";
	var encodeditem = $('<th/>').text(newitem).html();
	var newdiv = $("<th>");
	newdiv.html(encodeditem);
	$("#itemsBought_price").val("");
	$("#productList").append(newdiv);
    });
  });

});
</script>
</head>

<div class='well'>
    <h3>New order for <em>{{=auth.user.first_name}} {{=auth.user.last_name}}</em></h3>
    <b>Date: </b>{{=datime}}
    <h4>Order Total: </b><em><span id='order_total'>{{=amount}}</span></h4>
    <br />
    <h4>Shopping Cart:</h4>
    <table>
        <th>Product</th> <th>Quantity</th> <th>Price</th> <th>Line Total</th>
    </table>
    <table id="productList">
    </table>
    
    <br >
    <h4>Add items to your order by clicking [Add]</h4>
    <div id="myList"></div>
    {{=form}}
    <button id="addItemBtn" class="btn">Add</button><br />
    <button id="placeOrder" class="btn">Place Order</button>
</div>
